* {
    -webkit-tap-highlight-color: transparent;
}

.container {
	width: 270px;
	height: 270px;
	border:2px solid black;
	position: absolute;
	left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    cursor: pointer;
}

.backgound{
    width: 270px;
    height: 270px;
    position:absolute;
    background-color: white;
}

.circle{
    position: absolute;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

#top-left {
    top:5px;
    left:5px;
    background-color: whitesmoke;
}

#top-right {
    top:5px;
    right:5px;
    background-color: whitesmoke;
}

#bottom-left {
    bottom:5px;
    left:5px;
    background-color: whitesmoke;
}

#bottom-right {
    bottom:5px;
    right:5px;
    background-color: whitesmoke;
}

.controler{
    position: absolute;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border:2px solid black;
	position: absolute;
	left: 0;
    right: 0;
    top: 340px;
    margin: auto;
    cursor: pointer;
}

#line1 {
    position: relative;
    width: 250px;
    top: 90px;
    margin: auto; 
}

#line2 {
    position: relative;
    width: 250px;
    top: 180px;
    padding: 0;
    margin: auto;
}

.circle2{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
}

#top-control {
    top:10px;
    left:100px;
}

#mid-control {
    top:100px;
    left:100px;
}

#bottom-control {
    top:190px;
    left:100px;
}